In [47]:
import tushare as ts
import pandas as pd
import numpy as np
from tqdm import tqdm
import arrow
from glob import glob
import time
import os
from tenacity import retry, stop_after_attempt, wait_fixed

In [2]:
ts_api = ts.pro_api('185f21b39d2eb92b35c6b41a7e4bdb90998faedd249042147af2b24f')
data_path = '/Volumes/WD/tushare/'

In [4]:
ts_api.daily(trade_date='20200417')

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600015.SH,20200417,6.49,6.51,6.45,6.48,6.48,0.00,0.0000,182664.07,118332.730
1,600016.SH,20200417,5.81,5.82,5.77,5.79,5.78,0.01,0.1730,751439.58,435241.859
2,600017.SH,20200417,2.45,2.47,2.45,2.45,2.46,-0.01,-0.4065,72529.00,17843.973
3,600018.SH,20200417,4.33,4.35,4.32,4.32,4.32,0.00,0.0000,157779.86,68318.529
4,600019.SH,20200417,4.93,4.94,4.87,4.93,4.90,0.03,0.6122,360850.70,177166.658
...,...,...,...,...,...,...,...,...,...,...,...
3795,002965.SZ,20200417,34.40,34.40,33.40,33.51,33.44,0.07,0.2093,15644.19,52831.902
3796,002966.SZ,20200417,8.71,8.77,8.61,8.65,8.73,-0.08,-0.9164,242338.59,210796.518
3797,002967.SZ,20200417,38.70,40.20,38.14,38.21,38.37,-0.16,-0.4170,34749.94,135793.530
3798,002968.SZ,20200417,73.39,79.99,73.24,79.99,73.00,6.99,9.5753,13282.19,102376.682
3799,002969.SZ,20200417,8.14,8.18,8.04,8.05,8.10,-0.05,-0.6173,34530.14,27972.715

In [5]:
trade_date = ts_api.trade_cal(exchange='SSE', is_open='1', start_date='20190101', end_date='20191231', fields='cal_date')
trade_date.head()

   cal_date
0  20190102
1  20190103
2  20190104
3  20190107
4  20190108

In [6]:
def my_before_sleep(retry_state):
    print(f'Retrying {retry_state.fn}: attempt {retry_state.attempt_number} ended with: {retry_state.outcome}')

@retry(wait=wait_fixed(1), stop=stop_after_attempt(50), before_sleep=my_before_sleep)
def get_data(date):
    df = ts_api.daily(trade_date=date)
    return df

In [7]:
for d in tqdm(reversed(trade_date['cal_date'].tolist())):
    time.sleep(0.5)
    full_path = data_path + f"stock_{d}.pkl"
    if os.path.exists(full_path):
        continue
    else:
        get_data(d).to_pickle(full_path)

244it [03:34,  1.14it/s]

In [10]:
data_ls = sorted(glob(data_path + 'stock_*.pkl'))
print(data_ls[:1])
pd.read_pickle(data_ls[0]).head()

['/Volumes/WD/tushare/stock_20190102.pkl']

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000671.SZ,20190102,5.20,5.24,5.09,5.15,5.19,-0.04,-0.7707,105582.09,54330.033
1,000672.SZ,20190102,8.45,8.52,8.37,8.42,8.44,-0.02,-0.2370,36908.97,31156.758
2,000673.SZ,20190102,4.73,4.79,4.66,4.69,4.69,0.00,0.0000,94097.77,44322.224
3,000676.SZ,20190102,9.48,9.56,9.41,9.45,9.49,-0.04,-0.4215,17341.88,16408.900
4,000677.SZ,20190102,2.60,2.60,2.55,2.56,2.60,-0.04,-1.5385,21658.50,5566.942

In [30]:
index = pd.read_excel('000985中证全指.xlsx', dtype={'成分券代码Constituent Code': str})
index.head()

,日期Date,指数代码Index Code,指数名称Index Name,指数英文名称Index Name(Eng.),成分券代码Constituent Code,成分券名称Constituent Name,成分券英文名称Constituent Name(Eng.),交易所Exchange
0,2020-04-17,985,中证全指,CSI All Share,600000,浦发银行,Shanghai Pudong Development Bank Co Ltd,SHH
1,2020-04-17,985,中证全指,CSI All Share,600004,白云机场,Guangzhou Baiyun International Airport Co Ltd,SHH
2,2020-04-17,985,中证全指,CSI All Share,600006,东风汽车,Dongfeng Automobile Co Ltd,SHH
3,2020-04-17,985,中证全指,CSI All Share,600007,中国国贸,China World Trade Center Co Ltd,SHH
4,2020-04-17,985,中证全指,CSI All Share,600008,首创股份,Beijing Capital Co Ltd,SHH

In [34]:
code_to_name = index.set_index('成分券代码Constituent Code')['成分券名称Constituent Name'].to_dict()
code_to_name['000001']

'平安银行'

In [37]:
tmp = pd.read_pickle(data_ls[0])
tmp['ts_code'] = tmp['ts_code'].str[:6]
tmp = tmp[tmp['ts_code'].isin(index['成分券代码Constituent Code'])]
tmp

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000671,20190102,5.20,5.24,5.09,5.15,5.19,-0.04,-0.7707,105582.09,54330.033
1,000672,20190102,8.45,8.52,8.37,8.42,8.44,-0.02,-0.2370,36908.97,31156.758
2,000673,20190102,4.73,4.79,4.66,4.69,4.69,0.00,0.0000,94097.77,44322.224
3,000676,20190102,9.48,9.56,9.41,9.45,9.49,-0.04,-0.4215,17341.88,16408.900
4,000677,20190102,2.60,2.60,2.55,2.56,2.60,-0.04,-1.5385,21658.50,5566.942
...,...,...,...,...,...,...,...,...,...,...,...
3549,002790,20190102,10.54,10.70,10.00,10.03,10.59,-0.56,-5.2880,26740.66,27110.812
3550,300517,20190102,13.39,13.44,13.18,13.23,13.20,0.03,0.2273,11731.00,15602.715
3551,600936,20190102,3.74,3.78,3.69,3.71,3.74,-0.03,-0.8021,25222.38,9410.100
3552,601606,20190102,11.90,12.10,11.72,11.94,12.06,-0.12,-0.9950,118737.08,141624.306
3553,001914,20190102,7.48,7.58,7.42,7.44,7.48,-0.04,-0.5348,14840.88,11059.300

In [51]:
arrow.get(tmp['trade_date'].unique()[0]).date()

datetime.date(2019, 1, 2)

In [81]:
stock_universe = set(pd.read_pickle(data_ls[0])['ts_code'].str[:6].tolist()) & set(index['成分券代码Constituent Code'].tolist())

stock_dict = {key: list() for key in stock_universe}
time_index = list()
for path in tqdm(data_ls):
    df = pd.read_pickle(path)
    df['ts_code'] = df['ts_code'].str[:6]
    time_index.append(arrow.get(df['trade_date'].unique()[0]).date())
    close_dict = df.set_index('ts_code')['close'].to_dict()
    for key in stock_universe:
        stock_dict[key].append(close_dict.get(key))

final_df = pd.DataFrame(data=stock_dict, index=time_index)
final_df.head()

100%|██████████| 244/244 [00:02<00:00, 121.51it/s]

,002139,300146,300702,002728,600566,000599,300084,002182,603277,002539,...,002434,600110,601020,000519,300363,002105,300525,600055,300275,600535
2019-01-02,3.92,16.81,21.07,12.99,30.18,3.65,4.70,6.14,8.82,4.09,...,6.52,4.03,8.40,6.31,9.07,4.00,24.26,8.72,7.53,17.88
2019-01-03,3.90,16.47,19.80,12.97,28.92,3.66,4.69,6.29,8.66,4.13,...,6.40,4.01,8.54,6.74,8.95,4.05,23.84,8.83,7.45,17.20
2019-01-04,4.00,16.65,19.75,13.25,30.65,3.74,4.87,6.38,8.87,4.22,...,6.40,4.07,8.81,6.86,8.93,4.14,24.50,9.48,7.68,17.50
2019-01-07,4.15,16.65,20.33,13.56,31.05,3.79,5.06,6.54,9.00,4.25,...,6.38,4.19,9.19,7.17,8.98,4.16,25.75,9.81,7.93,17.77
2019-01-08,4.22,16.22,20.00,13.50,31.44,3.81,5.06,6.49,8.93,4.25,...,6.21,4.15,8.87,6.96,8.80,4.28,25.25,10.32,8.06,17.77

In [85]:
final_df = final_df.sort_index(axis=1).rename(columns=code_to_name)

In [95]:
final_df.fillna(method='ffill').pct_change().dropna(how='all').to_pickle('a_return_pct.pkl')

In [89]:
final_df['金宇车城'][final_df['金宇车城'].isnull()]

2019-03-11   NaN
2019-03-12   NaN
2019-03-13   NaN
2019-03-14   NaN
2019-05-07   NaN
2019-05-08   NaN
2019-05-09   NaN
2019-05-10   NaN
2019-10-24   NaN
2019-10-25   NaN
2019-10-28   NaN
2019-10-29   NaN
2019-10-30   NaN
2019-10-31   NaN
2019-11-01   NaN
2019-11-04   NaN
2019-11-05   NaN
Name: 金宇车城, dtype: float64